body {
    background-color: var(--color1);
    min-height: 100vh;
}

#title {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0%)
}

#main {
    background-color: var(--color2);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#event{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
